<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /wanderlust-blog/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /wanderlust-blog/index.html [L]
</IfModule>
